/* =============
Global Styles
============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

/* =============
Main Navbar
============== */

.main-navbar {
  background-color: #000;
  padding: 0 2rem;
}

.main-navbar li {
  display: block;
  padding: 1rem 0;
  letter-spacing: 1px;
  transition: all;
}

.main-navbar a {
  color: #fff;
}

.main-navbar a:hover {
  color: rgb(82, 82, 241);
}

@media (min-width:992px) {
  .main-navbar ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-navbar a {
    text-align: center;
  }

}